<h1> Adnat <h1>

<p>Logged in as <%=@user.name%></p>

<% if @user.organisations == nil %>
<p>You aren't a member of any organisations. Join an existing one or create a new one</p>
<% end %>

<% @organisations.each do |organisation| %>
  <p><%= link_to organisation.name, organisation %></p>
  <p><%= link_to "Edit", edit_organisation_path(organisation) %></p>
 <%end%>

<%= form_for (@organisation) do |f| %>
  <div>
    <%= f.label :name, "Organisation Name"%>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :hourly_rate%>
    <%= f.text_field :hourly_rate %>
  </div>
  <%= f.submit "Submit" %>
  <%end%>